<%= form_for(@print_job_batch) do |f| %>
  <% if @print_job_batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@print_job_batch.errors.count, "error") %> prohibited this print_job_batch from being saved:</h2>

      <ul>
      <% @print_job_batch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :print_model_set_id %><br />
    <%= f.text_field :print_model_set_id %>
  </div>
  <div class="field">
    <%= f.label :plastic_type %><br />
    <%= f.select :plastic_type, Material.plastic_type_available.map{|l| [l, l]},:include_blank => true %>
  </div>
  <div class="field">
    oder Farbe<br />
    <%= f.select :material_id, Material.available.map{|l| [l.name, l.id]},:include_blank => true %>
  </div>

  <div class="field">
    <%= f.label :machine_id %><br />
    <%= f.select :machine_id, Machine.operational.map{|l| [l.nick, l.id]},:include_blank => true  %>
  </div>

  <% if Backend.active.size > 1 %>
  <div class="field">
    <%= f.label :backend_id %><br />
    <%= f.select :backend_id, Backend.active.map{|l| [l.name, l.id]} %>
  </div>
	<% else %>
		<%= f.hidden_field :backend_id, :value => Backend.active.first.id %>
	<% end %>
  <div class="field">
    <%= f.label :container_id %><br />
    <%= f.select :container_id, Container.all.map{|l| [[l.id, l.description].join(" "), l.id]},:include_blank => true %>
  </div>

  <div class="field">
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
