<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @print_model_set.name %>
  <b>Default infill:</b>
  <%= @print_model_set.default_infill %>
  <b>Default fill pattern:</b>
  <%= @print_model_set.default_fill_pattern %>
  <%= link_to 'Edit', edit_print_model_set_path(@print_model_set) %>
</p>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Infill</th>
        <th>Fill pattern</th>
        <th>Priority</th>
        <th></th>



    </tr>
    <%= render(@print_model_set.print_model_set_positions) %>
</table>
