<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @container.description %>
</p>

<p>
  <b>Debitor:</b>
  <%= @container.debitor %>
</p>


<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
