<%= form_for(@container_item) do |f| %>
  <% if @container_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@container_item.errors.count, "error") %> prohibited this container_item from being saved:</h2>

      <ul>
      <% @container_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :container_id %><br />
    <%= f.text_field :container_id %>
  </div>
  <div class="field">
    <%= f.label :print_model_id %><br />
    <%= f.text_field :print_model_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :material_id %><br />
    <%= f.text_field :material_id %>
  </div>
  <div class="field">
    <%= f.label :print_material_id %><br />
    <%= f.text_field :print_material_id %>
  </div>
  <div class="field">
    <%= f.label :machine_id %><br />
    <%= f.text_field :machine_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
