<p id="notice"><%= notice %></p>

<p>
  <b>Container:</b>
  <%= @container_item.container_id %>
</p>

<p>
  <b>Print model:</b>
  <%= @container_item.print_model_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @container_item.quantity %>
</p>

<p>
  <b>Material:</b>
  <%= @container_item.material_id %>
</p>

<p>
  <b>Print material:</b>
  <%= @container_item.print_material_id %>
</p>

<p>
  <b>Machine:</b>
  <%= @container_item.machine_id %>
</p>


<%= link_to 'Edit', edit_container_item_path(@container_item) %> |
<%= link_to 'Back', container_items_path %>
